<h1><%= @user.firstname %> <%= @user.lastname %></h1>
<p class="lead"><%= @user.email %></p>
<p>Roles</p>
<%= form_for(@user, url: admin_path, method: :put) do |f| %>
  <div class="form-group">
    <%= f.check_box :teacher %>
    &nbsp;
    <%= f.label :teacher %>
    <br>
    <%= f.check_box :admin %>
    &nbsp;
    <%= f.label :admin %>
  </div>
  <%= f.submit :update, class: 'btn btn-primary' %>
<% end %>
