<div id="browse">
    <h2>Browse
        <span class="spans">I</span>t</h2>
        <div class="row">
          <div class="col-xs-4">
            <label for="admin-search">Search proposal:</label>
            <input class="form-control light-table-filter" type="search" data-table="order-table" id="admin-search" placeholder="Proposal">
          </div>
        </div>
    <table class="table table-hover order-table" id="browse-proposals" data-role="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th class="center">Category</th>
                <% if current_user.try(:teacher?) %>
                  <th class="center">Remove</th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @proposals.each do |p| %>
            <% if p.approved? %>
            <tr data-link="<%= proposal_path(p) %>">
                <td><%= p.name %></td>
                <td><%= p.description %></td>
                <td class="center"><%= p.category %></td>
                <% if current_user.try(:teacher?) %>
                  <td class="center"><%= link_to ('<i id="removeglyph" class="glyphicon glyphicon-remove"></i>').html_safe, p, data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
                <% end %>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
</div>
<script type="text/javascript">
$("tr").click(function() {
  window.location = $(this).data("link")
});
</script>
