<div id="submit">
  <h2>Submit <span class="spans">I</span>t</h2>
  <br>

  <%= form_for @newproposal, :html => { :class => "form-horizontal center" } do |f| %>
  <div class="form-group">
    <%= f.label :title, "*Title: ", class: "col-md-1 control-label" %>
    <div class="col-md-6">
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "*Description: ", class: "col-md-1 control-label"%>
    <div class="col-md-6">
      <%= f.text_area :description, class: "form-control", required: true  %>
    </div>
  </div>
  <% if @page == "student" %>
    <p>Student specific</p>
    <div class="form-group">
      <%= f.label :course, "Course: ", class: "col-md-1 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :course, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :category, "Category: ", class: "col-md-1 control-label"%>
      <div class="col-md-2">
        <%= f.select(:category, options_for_select([['Thesis', 'Thesis'], ['Candidate', 'Candidate'],['Bachelor', 'Bachelor']]), {}, {class: "form-control"}) %>
      </div>
    </div>
  <% else %>
    <p>Company specific</p>
    <div class="form-group">
      <%= f.label :company, "Company name: ", class: "col-md-1 control-label"%>
      <div class="col-md-2">
        <%= f.text_field :company, class: "form-control" %>
      </div>
    </div>
    <br>
  <% end %>
    <div class="row">
      <%= f.submit "Submit", class: "col-md-4 col-md-offset-2 btn btn-default btn-primary" %>
      <% end %>
    </div>
</div>
