<% if signed_in? %>
<% if (@proposal.user_id == current_user.id) or (current_user.try(:teacher?)) %>
<%= link_to 'Edit', edit_proposal_path(@proposal) %>
<% end %>
<% end %>
<h1><%= @proposal.name %></h1>
<div class="pull-right">
  <a class="btn btn-primary" id="apply_project" href="#">Apply for project <span class="caret"></span></a>
  <div class="hide" id="apply_form">
    <%= form_for [@proposal, @motivation], :html => { :class => "form-horizontal" } do |f| %>
    <div class="form-group">
      <div class="col-md-2">
        <%= f.label :motivation, "Motivation: ", class: "control-label" %>
      </div>
      <div class="col-md-6">
        <%= f.text_area :motivation, class: "form-control", required: true %>
      </div>
    </div>
    <div class="row" id="submit_button">
    <%= f.submit "Apply", class: "col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-2 btn btn-default btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
<h2><%= @username %></h2>
<small>Submitted at:
    <b>
        <%= @proposal.created_at %></b>
</small>
<hr>
<div class="row">
    <div >
        <div class="col-md-1">
            <strong>Description:</strong>
        </div>
        <br>
    </div>
    <div>
        <div class="col-md-10">
            <%= @proposal.description %>
        </div>
    </div>
    <hr>
    <div class="row">
        <div id="github">
            <% unless @proposal.vsc_url.blank? %>
            <div class="col-md-2">
                <%= link_to ('<i class="glyphicon glyphicon-book"></i><br>Follow the projects VCS.').html_safe, url_with_protocol(@proposal.vsc_url), :target => '_blank' %>
                <% end %>
            </div>
        </div>
        <div id="trello">
            <% unless @proposal.project_managment_service.blank? %>
            <div class="col-md-2">
                <%= link_to ('<i class="glyphicon glyphicon-dashboard"></i><br>Follow the projects Management Service.').html_safe, url_with_protocol(@proposal.project_managment_service), :target => '_blank' %>
                <% end %>
            </div>
        </div>
        <div class="row" id="trello">
            <% unless @username.blank? %>
            <div class="col-md-2">
                <%= link_to ('<i class="glyphicon glyphicon-envelope"></i><br>Contact the project owner.').html_safe, 'mailto:' + @username + '?Subject=TrackIT%20Email%20Service' %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row colortest">
        <h2>Approve students for projects</h2>
        <table class="table table-hover order-table" id="approve-proposals" data-role="table">
            <thead>
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-4">Motivation</th>
                    <th class="col-md-1 center">Accept</th>
                    <th class="col-md-1 center">Decline</th>
                </tr>
            </thead>
            <tbody>
                <% if @motivations.count > 0 %>
                  <% @motivations.each do |m| %>
                  <td class="col-md-4 clickable"><%= "#{m.user.name}  (#{m.user.email})" %></td>
                  <td class="col-md-4 clickable breakable"><%= truncate(m.motivation, length: 50) %></td>
                  <td class="col-md-1 centered"><%= link_to ('<i id="acceptglyph" class="glyphicon glyphicon-ok"></i>').html_safe, proposal_approved_path(m), method: :put, data: {:confirm => 'Are you sure?'} %></td>
                  <td class="col-md-1 centered"><%= link_to ('<i id="removeglyph" class="glyphicon glyphicon-remove"></i>').html_safe, proposal_motivation_path(m.proposal, m), method: :delete, data: {:confirm => 'Are you sure?'} %></td>
                </tr>
              <% end %>
            <% end %>
        </tbody>
    </table>
</div>
</div>
