<% if signed_in? %>
<% if (@proposal.user_id == current_user.id) or (current_user.try(:teacher?)) %>
<%= link_to 'Edit', edit_proposal_path(@proposal) %>
<% end %>
<% end %>
<h1><%= @proposal.name %></h1>
<small>By Jerry pedersen</small>
<hr>
<div class="row">
    <div class="col-md-1">
        <strong>Description</strong>
    </div>
    <div class="col-md-11">
        <%= @proposal.description %>
    </div>
    <hr>
    <div class="row">
        <div id="github">
            <% unless @proposal.vsc_url.blank? %>
            <div class="col-md-2">
                <%= link_to ('<i class="glyphicon glyphicon-book"></i><br>Följ projektets VCS.').html_safe, url_with_protocol(@proposal.vsc_url), :target => '_blank' %>
                <% end %>
            </div>
        </div>
        <div id="trello">
            <% unless @proposal.project_managment_service.blank? %>
            <div class="col-md-2">
                <%= link_to ('<i class="glyphicon glyphicon-dashboard"></i><br>Följ projektets management service.').html_safe, url_with_protocol(@proposal.project_managment_service), :target => '_blank' %>
                <% end %>
            </div>
        </div>
        <div id="mail">
            <div class="col-md-2">
              <a>
                <i class="glyphicon glyphicon-envelope"></i><br>Skicka ett mail till projektet.
              </a>
            </div>
        </div>
    </div>
</div>
