<% if signed_in? %>
<% if (@proposal.user_id == current_user.id) %>
<%= link_to 'Edit', edit_proposal_path(@proposal) %>
<% end %>
<% end %>
<h1><%= @proposal.name %></h1>
<small>By Jerry pedersen</small>
<hr>
<div class="row">
  <div class="col-md-1">
    <strong>Description</strong>
  </div>
  <div class="col-md-11">
    <%= @proposal.description %>
  </div>
  <hr>
  <div class="row">
    <div id="github">
      <% unless @proposal.vsc_url.blank? %>
      <div class="col-md-2">
        <%= link_to ('<i id="glyphbook" class="glyphicon glyphicon-book"></i>Följ projektets VCS.').html_safe, url_with_protocol(@proposal.vsc_url), :target => '_blank' %>
        <% end %>
      </div>
    </div>
    <div id="trello">
      <% unless @proposal.project_managment_service.blank? %>
      <div class="col-md-2">
        <%= link_to ('<i id="glyphpen" class="glyphicon glyphicon-book"></i>Följ projektets management service.').html_safe, url_with_protocol(@proposal.project_managment_service), :target => '_blank' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <a href="http://gmail.com/">
        Kontakta projektets ansvariga via mail.
      </a>
    </div>
  </div>
</div>
