<% if signed_in? %>
<% if (@proposal.user_id == current_user.id) or (current_user.try(:teacher?)) %>
<%= link_to 'Edit', edit_proposal_path(@proposal) %>
<% end %>
<% end %>
<h1><%= @proposal.name %></h1>
<small>By Jerry pedersen</small>
<hr>
<div class="row">
  <div class="col-md-1">
    <strong>Description</strong>
  </div>
  <div class="col-md-11">
    <%= @proposal.description %>
  </div>
  <hr>
  <div class="row">
    <div id="github">
      <% unless @proposal.vsc_url.blank? %>
      <div class="col-md-1">
        <img src="http://uxrepo.com/static/icon-sets/zocial/svg/github-circled.svg" alt="github" height="42" width="42"/>
      </div>
      <div class="col-md-2">
        <%= link_to "Följ projektets VCS.", url_with_protocol(@proposal.vsc_url), :target => '_blank' %>
        <% end %>
      </div>
    </div>
    <div id="trello">
      <% unless @proposal.project_managment_service.blank? %>
      <div class="col-md-1">
        <img src="http://uxrepo.com/static/icon-sets/font-awesome/svg/trello.svg" alt="trello" height="42" width="42"/>
      </div>
      <div class="col-md-2">
        <a href="<%= @proposal.project_managment_service %>">
          Följ projektet på Trello.
        </a>
      </div>
      <% end %>
    </div>
    <div class="col-md-1">
      <img src="http://image005.flaticon.com/55/svg/60/60543.svg" alt="mail" height="42" width="42"/>
    </div>
    <div class="col-md-2">
      <a href="http://gmail.com/">
        Kontakta projektets ansvariga via mail.
      </a>
    </div>
  </div>
</div>
