<!-- -Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog">
    <div class="modal-content login-modal">
      <div class="modal-header login-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center" id="loginModalLabel">LOG IN</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a id="signin-taba" href="#aaa" aria-controls="home" role="tab" data-toggle="tab">Sign In</a>
              </li>
              <li role="presentation">
                <a id="signup-taba" href="#bbb" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a>
              </li>
              <li role="presentation" class="hide">
                <a id="forgetpass-taba" href="#ccc" aria-controls="forget_password" role="tab" data-toggle="tab"></a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active text-center" id="aaa">
                &nbsp;&nbsp;
                <span id="login_fail" class="response_error" style="display: none;">Loggin failed, please try again.</span>
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: 'login-form') do |f| %>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-user"></i>
                        </div>
                        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter your email' %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-user">
                          </i>
                        </div>
                        <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password' %>
                      </div>
                    </div>


                    <div class="actions">
                      <%= f.submit "Sign in", class: 'btn btn-block bt-login' %>
                    </div>
                  <% end %>
                  <div class="login-modal-footer">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <i class="fa fa-lock"></i>
                        <a href="javascript:;" class="forgetpass-tab">
                          Forgot password?
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="bbb">
                &nbsp;&nbsp;
                <span id="registration_fail" class="response_error" style="display: none;">Registration failed, please try again.</span>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter your email' %>
                    </div>
                    <span class="help-block has-error" data-error='0' id="username-error"></span>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-at"></i>
                      </div>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %>
                      <%= f.password_field :password, autocomplete: "off", class: 'form-control form-control-upper', placeholder: 'Enter a Password' %>
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control form-control-down', placeholder: 'Enter Password again' %>
                    </div>
                    <span class="help-block has-error" data-error='0' id="remail-error"></span>
                  </div>
                  <%= f.submit "Sign up" , class: 'btn btn-block bt-login'%>
                  <% end %>
                  <div class="login-modal-footer">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <i class="fa fa-lock"></i>
                        <a href="javascript:;" class="forgetpass-tab">
                          Forgot password?
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane text-center" id="ccc">
                &nbsp;&nbsp;
                <span id="reset_fail" class="response_error" style="display: none;"></span>
                <form>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                      <input type="text" class="form-control" id="femail" placeholder="Email">
                    </div>
                    <span class="help-block has-error" data-error='0' id="femail-error"></span>
                  </div>
                  <button type="button" id="reset_btn" class="btn btn-block bt-login" data-loading-text="Please wait....">Retrieve password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
