<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">Track<span class="spans">I</span>t</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="<%= is_active?('/') %>"><%= link_to "Home", '/' %></li>
    <% if signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Submit <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="<%= is_active?('/proposals/new?page=student') %>"><%= link_to "Student submit", '/proposals/new?page=student' %></li>
        <li class="<%= is_active?('/proposals/new?page=company') %>"><%= link_to "Company submit", '/proposals/new?page=company' %></li>
      </ul>
    <% else %>
      <li class="<%= is_active?('/users/sign_in') %>"><%= link_to "Submit", '/users/sign_in' %></li>
    <% end %>
    <li class="<%= is_active?('/proposals') %>"><%= link_to "Browse", '/proposals' %></li>
    <% if current_user.try(:teacher?) %>
      <li class="<%= is_active?('/proposals/approve') %>"><%= link_to "Approve", '/proposals/approve' %></li>
    <% else %>
    <% end %>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if signed_in? %>
      <li><%= link_to "Edit profile", edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to 'Sign in / Sign up', new_user_session_path %></li>
    <% end %>
  </ul>

</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
