<!DOCTYPE html>
<html>
<head>
  <title>TrackIT2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown" id="menuLogin">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>

          <div class="dropdown-menu" style="padding:17px;">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>

              <div class="form-group">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">Sign in</button>
              </div>
            </form>
          </div>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- <div class="navbar-header">

      <a class="navbar-brand" href="/">TrackIT</a>
      <ul class="nav navbar-nav">

        <li class="<%= is_active?('/') %>"><%= link_to "Home", '/' %></li>
        <li class="<%= is_active?('/proposals/new') %>"><%= link_to "Submit", '/proposals/new' %></li>
        <li class="<%= is_active?('/proposals') %>"><%= link_to "Browse", '/proposals' %></li>

      </ul>
      <ul class="nav pull-right">
        <li class="dropdown" id="menuLogin">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
          <div class="dropdown-menu" style="padding:17px;">
            <form class="form" id="formLogin">
              <input class="form-control" name="username" id="username" type="text" placeholder="Username">
              <input name="password" id="password" type="password" placeholder="Password"><br>
              <button type="button" id="btnLogin" class="btn">Login</button>
            </form>
          </div>
        </li>
      </ul>
    </div> -->


    <div class="jumbotron">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
